body {
  background-color: rgb(241, 219, 238);
  margin: 20;
  padding: 5;
}

.index {
  direction: ltr;
}

h1,
.form-description {
  text-align: center;
}

.form-instructions {
  border-style: double;
  background-color: rgb(241, 226, 204);
}

legend {
  font-weight: bold;
}

footer {
  text-align: center;
}
